#box{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: red;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    pointer-events: auto;
}

.drag-area{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 150px;
    height: 850px;
    background: chocolate;
}